*.swp
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
algorithm2e.sty
enumitem.sty
main.fdb_latexmk
main.fls
main.pdf
relsize.sty
todonotes.sty

